{% extends 'DualizeUserBundle::layout.html.twig' %}

{% block title %}Восстановление пароля{% endblock %}

{% block content %}

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h4>Восстановление пароля</h4>
		{% if message is defined %}
			<p>На указанный email было отправлено письмо со ссылкой для создания нового пароля.</p>
		{% else %}
			{{ form(form) }}
		{% endif %}
	</div>
</div>

{% endblock %}